*/node_modules/
**/vendor/

*/app/storage/
*/public/storage
*/public/hot
*/public/build
*/dist

*/storage/*.key
/.vagrant

.phpunit.result.cache
.vscode/symbols.json
.env
Homestead.yaml
Homestead.json
npm-debug.log
yarn-error.log
